<div class="note-card">
  <h2 class="mb-4 text-warning">✏️ Edit Note</h2>
  <form action="/notes/<%=editId._id %>/edit" method="POST">
    <div class="mb-3">
      <div class="title">
        <label for="title" class="form-label">Title</label>
        <input type="text" name="title" class="form-control" value="<%= editId.title  %>" required>
      </div>

      
    </div>
    <div class="mb-3">
      <label for="body" class="form-label">Content</label>
      <textarea name="body" class="form-control" rows="5" required><%= editId.body  %></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Save</button>
    <a href="/notes/<%=editId._id  %>" class="btn btn-outline-secondary">Cancel</a>
  </form>
</div>

